body
{
    max-width: 50vw;
    background-image: url(bg.svg);
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar
{
    display: none;
}
.scrollbar-ms-gecko
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}