:root
{
    font-family: 'Inter', sans-serif;
    --dark: black;
}

body
{
    margin: 0 auto;
    height: 100vh;
    overflow-x: hidden;
    color: var(--dark);
    max-width: 55vw;
    background-image: url(bg.svg);
    background-position: center
}

.px64
{
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 200
}

.centre
{
    text-align: center;
    justify-content: center;
}

.heading
{
    margin: 48px 32px;
    font-weight: 200
}

.heading h2
{
    margin-left: 8px;
}

.flexrow
{
    display: flex;
    flex-flow: row nowrap;
}

.icontext
{
    height: 32px;
    line-height: 32px;
}

.icontext img
{
    margin: 0 8px;
}

.leftcolumn
{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin-bottom: 10px
}

.leftcolumn a
{
    padding: 8px 0;
}

.rightcolumn
{
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    width: 50%;
    margin-bottom: 10px
}

.rightcolumn span
{
    padding: 8px 0;
    justify-content: right;
}

h1, h2, h3, h4, h5, h6
{
    letter-spacing: 5px;
    margin: 0;
    font-weight: 200
}
p, a
{
    margin: 0
}
summary
{
    cursor: pointer;
}

details
{
    background-color: var(--dark);
    color: white;
    
    padding: 8px;
    margin: 8px 0;
    max-width: 400px
}

details p
{
    line-height: 30px;
}

details a
{
    display: inline-block;
    margin: 8px auto 0 auto;
}

details code
{
    display: block;
    
    background-color: white;
    color: var(--dark);
    
    padding: 1px;
    
    cursor: text;
}

a
{
    color: var(--dark);
}

footer
{
    margin: 128px 0;
    text-align: center;
}
.fxglink
{
    margin: 48px;
    font-size: 13px
}
footer
{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    background-color: black;
    padding: 1.5707vh calc(1.5707vh + 50vw);
    margin: 0 -50vw;
}
@media only screen and (max-width: 727px)
{
  body > * {
    display: none !important;
  }
}
@media only screen and (min-width: 728px)
{
  .fuck_you {
    display: none !important;
  }
}