:root {
    /*pal1*/
    --tone0: #121113;
    --tone1: #252225;
    --tone2: #523c53;
    --tone3: #674667;
    --tone4: #fff;

    --text: var(--tone4);
    --deepground: var(--tone0);
    --background: var(--tone1);
    --primary: var(--tone3);
    --secondary: var(--tone2);

    --metra: #b382ff;
    --hyper: #dc3545;
    --mike: #28a745;
    --pixel: #0d6efd;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

body {
    margin: 0 auto;
    height: 100vh;
    max-width: 80vw;
    aspect-ratio: 3.2/3;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    min-height: 6.3vh;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3.75vh;
}

h3 {
    font-size: 2.5vh;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;

    background-color: var(--background);

    height: 10vh;
    width: 103.53vh;
    padding: 0 calc(1.5707vh + 50vw);
    max-width: calc(80vw - 3.1415vh);
    margin: 0 -50vw;

    z-index: 100;
}

header a {
    color: var(--text);
    font-family: 'Outfit', sans-serif;
    line-height: 10vh;
    font-size: 3.75vh;
    text-shadow: 0 0.25vh 1vh black;
}

#logo #logo-small {
    max-height: 100%;
    filter: drop-shadow(0 0.25vh 1vh black);
}

#logo {
    width: 37vh;
}

#logo-small {
    display: none;
    width: 100%;
}

#logo a, #logo-small a {
    display: block;

    height: 100%;
    margin: auto;

    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

#logo a {
    mask-image: url("../images/logo_text.svg");
    -webkit-mask-image: url("../images/logo_text.svg");
    aspect-ratio: 285/80;
}

#logo-small a {
    mask-image: url("../images/logo.svg");
    -webkit-mask-image: url("../images/logo.svg");
    aspect-ratio: 1;
}

@media only screen and (max-width: 90vh) {
    #header-links {
        display: none;
    }
    #logo
    {
        width: 100%;
    }
}

@media only screen and (max-width: 50vh) {
    #logo {
        display: none;
    }
    #logo-small {
        display: block;
    }
}

footer .logo {
    width: 1.5em;
    height: 1.5em;

    background-color: var(--background);
    mask-image: url("../images/logo.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/logo.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.spacer68 {
    display: inline-block;
    width: 6.2832vh;
}

.header-helper {
    height: 10vh;
}

.header-link {
    transition: all 0.1s ease;
}

.header-link:hover {
    color: var(--primary);
    text-shadow: 0 0.25vh 1vh black;
}

.hero {
    padding: 0 50vw;
    margin: 0 -50vw;
    box-shadow: 0 0 0 4vh var(--background);
}

.hero:before {
    content: "";
    height: 80vh;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;

    background-image: url("../images/hands.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: brightness(50%) blur(1vh);
}

.hero-heading {
    font-weight: 500;
    line-height: 6vh;
}

.hero-subheading {
    font-weight: 300;
}

.content {
    display: flex;
    flex-wrap: wrap;

    height: 80vh;
    scroll-margin-top: 10vh;

    color: var(--text);
    text-shadow: 0 0.25vh 1vh black;
}

.deep {
    background-color: var(--deepground);
    border-radius: 3.1415vh;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.primary-button {
    padding: 1.5vh 3vh;
    border-radius: 1vh;
    font-size: 2vh;

    background-color: var(--primary);
    color: var(--text);
    text-decoration: none;
    text-shadow: none;
    box-shadow: 0 0.25vh 1vh black;

    transition: ease 0.2s;
    transition-property: transform, background-color, color, box-shadow;
    display: inline-block;
    white-space: nowrap;
}

.primary-button:hover {
    transform: translate(0, -0.25vh);
    background-color: var(--text);
    color: var(--background);
    box-shadow: 0 0.5vh 1vh black;
}

.scroll-down {
    filter: drop-shadow(0 0.25vh 1vh black);
    background-color: var(--background);
}

.scroll-down:before {
    content: "";
    display: block;

    background-color: var(--text);
    mask-image: url("../images/down.svg");
    mask-size: contain;
    -webkit-mask-image: url("../images/down.svg");
    -webkit-mask-size: contain;

    width: 10vh;
    height: 10vh;
    margin: 0 auto;
}

.pfp {
    height: 15vh;
    max-height: 25vw;
    aspect-ratio: 1;
    padding: 0.5vh;
}

.pfp::before {
    content: "";
    display: block;
    position: absolute;

    border-radius: 100%;
    border-style: solid;
    border-width: 0.5vh;

    height: 15vh;
    max-height: 25vw;
    aspect-ratio: 1;
    margin: -0.5vh;

    transition: 0.2s;
    transition-property: transform;
}

.pfp figure {
    width: calc(100% - 1vh);
    height: calc(100% - 1vh);
    padding: 0.5vh;
    margin: 0;
}

.pfp img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.pfp:hover::before {
    transform: scale(1.05);
}

.pfp#metraberryy::before {
    border-color: var(--metra);
}

.pfp#metraberryy img {
    background-color: var(--metra);
}

.pfp#hyperfied::before {
    border-color: var(--hyper);
}

.pfp#hyperfied img {
    background-color: var(--hyper);
}

.pfp#mikalikal::before {
    border-color: var(--mike);
}

.pfp#mikalikal img {
    background-color: var(--mike);
}

.pfp#scepixel::before {
    border-color: var(--pixel);
}

.pfp#scepixel img {
    background-color: var(--pixel);
}

footer {
    background-color: var(--text);
    color: var(--background);
    text-align: center;
    font-size: 1.6vh;

    width: 103.53vh;
    padding: 1.5707vh calc(1.5707vh + 50vw);
    margin: 0 -50vw;
}

footer a {
    color: var(--primary);
}