:root
{
    --shadow: #161322;
    --foreground: #413652;
    --background: #775c84;
    --accent: #e0d3cd;
    --text: #eae4dd;
    --backgroundaccent: var(--accent);

    --metra: #af8fd5;
    --hyper: #dc3545;
    --mike: #28a745;
    --pixel: #0d6efd;
}

html
{
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
    background-color: var(--background);
}

body
{
    margin: 0 auto;
    height: 100vh;
    aspect-ratio: 3.2/3;
    overflow-x: hidden;
}

h1, h2, h3
{
    margin: 0;
    font-weight: normal;
    min-height: 6.3vh;
}

h1
{
    font-size: 5vh;
}

h2
{
    font-size: 3.75vh;
}

h3
{
    font-size: 2.5vh;
}

header
{
    position: fixed;
    display: flex;
    justify-content: space-between;

    background-color: var(--background);
    background: linear-gradient(180deg, var(--background) 0%, var(--background) 90%, #0000 100%);

    height: 10vh;
    width: 103.53vh;
    padding: 0 calc(1.5707vh + 50vw);
    margin: 0 -50vw;

    z-index: 100;
}

header a
{
    color: var(--backgroundaccent);
    line-height: 10vh;
    font-size: 3.75vh;
    text-shadow: 0 0 1vh var(--foreground);
}

#logo
{
    width: 37vh;

    filter: drop-shadow(0 0 1vh var(--foreground));
}

#logo a
{
    display: block;

    width: 100%;
    height: 100%;

    background-color: currentColor;
    mask-image: url("../images/logo_text.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/logo_text.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

span.logo
{
    width: 1.5em;
    height: 1.5em;

    background-color: var(--text);
    mask-image: url("../images/logo.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/logo.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.spacer68
{
    display: inline-block;
    width: 6.2832vh;
}

.headerhelper
{
    height: 10vh;
}

.content
{
    display: flex;
    flex-wrap: wrap;

    scroll-margin-top: 10vh;

    text-align: center;

    background-color: var(--foreground);
    color: var(--text);
    text-shadow: 0 0 1vh var(--shadow);
    box-shadow: 0 0 1vh var(--foreground);
    border-radius: 3.1415vh;

    height: 80vh;
}

.content a
{
    color: var(--accent);
}

.flexcolumn
{
    display: flex;
    flex-direction: column;
}

.flexrow
{
    display: flex;
    flex-direction: row;
}

.spaceevenly
{
    justify-content: space-evenly;
}

.center
{
    justify-content: center;
}

.heading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
}

.scrolldown
{
    filter: drop-shadow(0 0 1vh var(--foreground));
}

.scrolldown div
{
    background-color: var(--backgroundaccent);
    mask-image: url("../images/down.svg");
    mask-size: contain;
    -webkit-background-color: var(--backgroundaccent);
    -webkit-mask-image: url("../images/down.svg");
    -webkit-mask-size: contain;

    width: 10vh;
    height: 10vh;
    margin: 0 auto;
}

.pfp
{
    width: 20vh;
    height: 20vh;
    padding: 0.5vh;
}

.pfp::before
{
    content: "";
    display: block;
    position: absolute;

    border-radius: 100%;
    border-style: solid;
    border-width: 0.5vh;

    width: 20vh;
    height: 20vh;
    margin: -0.5vh;

    transition: 0.1s;
    transition-property: transform;
}

.pfp:hover::before
{
    transform: scale(1.05);
}

.pfp#metraberryy::before
{
    border-color: var(--metra);
}
.pfp#hyperfied::before
{
    border-color: var(--hyper);
}
.pfp#mikalikal::before
{
    border-color: var(--mike);
}
.pfp#scepixel::before
{
    border-color: var(--pixel);
}

.pfp figure
{
    width: 95%;
    height: 95%;
    padding: 0.5vh;
    margin: 0;
}

.pfp img
{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

footer
{
    background-color: var(--foreground);
    color: var(--text);
    text-align: center;
    font-size: 1.6vh;

    width: 103.53vh;
    padding: 1.5707vh calc(1.5707vh + 50vw);
    margin: 0 -50vw;
}

footer a
{
    color: var(--accent);
}